<div style="margin-top: 2em; background-color: white">
    <div style="font-weight: 600; text-align: center; border-top: 1px dotted #ccc;"><i class="fa fa-fw fa-cloud"></i> CDN By<br></div>
    <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral">
        <img src="/images/upyun.png" alt="又拍云联盟"/>
    </a>
</div>